/* customize style */
.icon_dropdown { position: relative; font-family: PT Sans,sans-serif; }
.icon_dropdown ul { display: none; position: absolute; min-width: 10em; max-width: 20em; margin-top: 20px; right: 10px; padding: 15px 0px 15px 0px; background: #fff; border: 5px solid #f2f2f2; }
.icon_dropdown ul.active { display: block; }
.icon_dropdown ul li a { display: inline-block; color: #444; font-size: 14px; font-weight: 400; text-transform: capitalize; padding: 5px 25px; line-height: 23px; }
.icon_dropdown ul li a:hover { margin-left: 5px; }
.icheck_checkbox label { cursor: pointer; }

.toast { max-width: 350px; min-width: 200px; margin-bottom: 10px; overflow: hidden; font-size: .875rem; background-color: rgba(255,255,255,.85); background-clip: padding-box; border: 1px solid rgba(0,0,0,.1); border-radius: .25rem; box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1); -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px); opacity: 0; }
.toast-header { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; padding: .25rem .75rem; color: #6c757d; background-color: rgba(255,255,255,.85); background-clip: padding-box; border-bottom: 1px solid rgba(0,0,0,.05); }
.toast-body { padding: .75em; }
.toast.fade.show { display: block; opacity: 1; }
.toast.success { background-color: #28a745; } .toast-body { color: #fff; }

.is-invalid { border-color: #dc3545 !important; }

#checkout-table { border-collapse:separate; border-spacing:0 10px; }
.checkout-summary { position: relative; box-shadow: 1px 1px 5px 0px #333; }
.checkout-summary td { border: 0px; }
.checkout-description img { display: inline-block; max-width: 125px; float: left; padding-right: 10px; }
.checkout-description .checkout-description-info { display: inline-block; float: left; }
.checkout-description .checkout-description-info label { margin-bottom: 0px; }
.checkout-description .checkout-description-info span { margin-bottom: 0px; display: block; width: 150px; white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis; }

.checkout-summary .item_price { color: #ff6000; font-weight: bold; font-size: 16px; padding: .75rem 10px; max-width: 150px; white-space: nowrap; }

.theme-form { background-color: #fff !important; padding: 20px; overflow-y: auto; overflow-x: hidden; }

button:disabled { cursor: not-allowed; pointer-events: all !important; }

.floating_btn { width: 70px; height: 70px; border-radius: 100%; position: fixed; bottom: 100px; right: 100px; z-index: 9; color: #fff; text-align: center; background: #ff914b; border: none; font-size: 30px; padding: 7px; cursor: pointer; box-shadow: 0px 0px 10px 3px #eee; }

.floating_container { z-index: 9999; position: fixed; right: 165px; bottom: 155px; width: 500px; height: 650px; display: none; box-shadow: 1px 1px 3px 3px #ccc; }
.floating_container .overlay { position: fixed; left: 0%; top: 0%; width: 100%; height: 100%; opacity: 0.8; background: #000; z-index: 1; }
.floating_container .floating_box { position: absolute; width: 100%; height: 100%; z-index: 2; background: #fff; border-radius: 3px; }
.title-box { display: inline-block; width: 100%; padding: 10px; border-bottom: 1px solid #ccc; }
.title-box.box-footer { border-bottom: 0px; border-top: 1px solid #ccc; }
.title-box.box-title div { padding: 6px 12px; margin: 0 10px; display: inline-block; font-size: 20px; border-radius: 3px; color: #333; font-weight: bold; cursor: pointer; }
.title-box.box-title div:hover, .title-box.box-title div.active { background: #ff914b; }
.title-box.box-footer div { display: inline-block; font-size: 20px; cursor: pointer; }
.title-box.box-footer div:first-child { margin-right: 10px; }
.title-box.box-footer div a { transition: none; color: #777; }
.title-box.box-footer div a:hover { color: #ff914b; }

.banner_category { display: flex; width: 100%; align-items: center; height: 50px; }
.banner_category a { font-size: 20px; color: #333; font-weight: bold; padding: 0 50px 0 10px; transition-duration: 0.2s; }
.banner_category a.active { color: #ff914b; }
.banner_category a:hover { color: #fff; }

.login_alert { width: 100%; position: absolute; height: 100%; background: rgba(0,0,0,0.9); z-index: 3; display: flex; align-items: center; justify-content: center; }
.login_alert h4 { padding: 20px 0; color: #fff; }
.floating_close { position: absolute; right: 5px; top: 5px; border-radius: 50%; width: 20px; height: 20px; background: #dc3545; color: #fff; text-align: center; line-height: 20px; cursor: pointer; }

.memo { display: flex; align-items: center; margin-bottom: 10px; cursor: pointer; }
.memo label { margin: 0px; }
.memo > label { padding: 0 10px; cursor: pointer; flex: 1; }
.memo > label.completed { text-decoration: line-through; }
.memo .option { padding: 0 10px; cursor: pointer; display: none; }
.memo > label:hover { color: #000; }
.memo .option.remove:hover { color: #dc3545; }
.memo .option.save:hover { color: #28a745; }
.memo .memo-input { margin: 0 10px; height: 30px; flex: 1; border-radius: 3px; border: 1px solid #ccc; padding: 0 5px; }

.floating_container .floating_box .content { padding: 10px; overflow-x: auto; height: calc(100% - 114px); }

.product_price .price { font-size: 20px; color: #ff914b; font-weight: bold; }
.product_price .old_price > span { text-decoration: line-through; }
.discount_amount { color: #dc3545; font-weight: bold; padding-left: 10px; }

.verify_loader { display: inline-block; border: none; background: #ff914b; padding: 0 12px; border-radius: 3px; cursor: pointer; color: #fff; }

.product-image { width: 100%; }
.clickable { cursor: pointer; }

.cart-block.active { animation: hopping 200ms linear 2; }

@keyframes hopping {
  0% { transform: scale(1.0); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1.0); }
}

@media only screen and (max-width: 1280px) {
  .product .product-box .product-imgbox .product-front { height: 200px; }
}

.brand_label { display: inline-block; color: #ff6000; font-size: 16px; font-weight: bold; margin-top: 27px; float: left; padding-right: 10px; }
.brand_box { padding: 10px 20px; position: relative; }
#brand_list { display: block; width: 100%; padding: 0 40px; }
#brand_list a { color: transparent; }
@media (max-width: 991px)
{
  .brand_label { display: block; text-align: center; border: 0; border-bottom: 2px solid #ff6000; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; margin: 0 auto; margin-bottom: 10px; font-size: 16px; float: initial; }
}

.brand { cursor: pointer; text-align: center; height: 50px; display: flex; align-items: center; }
.brand:hover { color: #ff6000; }
.brand img { width: auto !important; height: auto !important; max-width: 80px !important; max-height: 50px !important; margin: 5px auto; }
.brand.active { border-bottom: 3px solid #ff914b; } 
#brand_list .owl-nav { position: absolute; left: 0px; top: 0px; width: 100%; }
#brand_list .owl-nav .owl-prev { position: absolute; top: 20px; left: 0px; padding: 0 10px; }
.owl-prev.disabled, .owl-next.disabled { color: #ccc !important; }
#brand_list .owl-nav .owl-next { position: absolute; top: 20px; right: 0px; padding: 0 10px; }
.owl-prev:not(.disabled):hover, .owl-next:not(.disabled):hover { color: #ff6000 !important; }

.change_address { display: inline-block; float: right; color: #00f !important; font-weight: bold; cursor: pointer; width: 35%; }
.hide { display: none; }
.description { overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }

.edit_item_quantity { cursor: pointer; background: #777; display: inline-block; border-radius: 3px; color: #fff; height: 25px; width: 25px; text-align: center; line-height: 25px; }
.edit_item_quantity:first-child { margin-right: 10px; }
.edit_item_quantity:last-child { margin-left: 10px; }
.edit_item_quantity:hover { background: #333; }
.delete_cart_detail { cursor: pointer; color: #dc3545; font-size: 18px; }
.delete_cart_detail:hover { color: #ca0f21; }

.hot-1>div:nth-child(2) { padding-left: 15px; padding-right: 15px; margin-top: 15px; }

@media only screen and (max-width: 1200px) {
  .banner_category { margin-left: -30px; padding-left: 15px; width: calc(100% + 30px); }
}

@media only screen and (min-width: 992px) {
  .hot-1>div:nth-child(2) { margin-top: 0px; }
}

@media only screen and (max-width: 991px) {
  #today_deal_box { padding-left: 0px !important; padding-right: 0px !important; }
}

@media only screen and (max-width: 575px) {
  #today_deal_box { padding-left: 15px !important; padding-right: 15px !important; }
  .top-header .top-header-right .top-menu-block ul li { margin-right: 5px; }
  .top-header .top-header-right .top-menu-block ul li a { font-size: 11px; }
}

